html {
    background-color:#2d2d30;
    background-color:black;
    /*font-family: "Consolas MS", "Consolas", cursive;*/
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 170px;
    color: cyan;
}

body {
   /*background-color: #181818;*/
}